<html>
<head>
<title>
<% if (channel) { %>
#<%= channel.name %>
<% } else { %>
Unknown Channel
<% } %>
</title>
<style>
p.pin {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   display: block;
   margin: 2px;
}
.tags:before {
    content: "tags: ";
    font-weight: bold;
}
.tags {
    margin-left: 10px;
    float: center;
    border-bottom: 1px dotted black;
}
</style>
</head>
<body>
<h1>
<% if (channel) { %>
    #<%= channel.name %>
<% } else { %>
    <i>deleted channel</i>
<% } %>
</h1>
<hr>
<% pins.forEach(function(pin) { %>
    <p class="pin">
    <%= new Date(pin.updatedAt).toLocaleString() %>
    <a href="<%= pin.message %>">
        <b>@<%= pin.author_name %>:</b>
        <% var formatted_text = format(pin.content, guild); %>
        <% if (formatted_text) { %>
            <%= formatted_text %>
        <% } else if (pin.content) { %>
            <%= pin.content %>
        <% } else { %>
            <i>Attachment only</i>
        <% } %>
    </a>
    <% if (pin.id in tag_dict) { %>
        <span class="tags">
        <% tag_dict[pin.id].forEach(function(tag) { %>
            <%= tag %>
        <% }); %>
        </span>
    <% } %>
    </p>
<% }); %>
<% if (pins.length == 0) { %>
no pins here :(
<% } %>
<hr>
<a href="/<%= guild.id %>/">Back to server</a>
</body>
</html>
