<html>
<head>
<title>
<%= guild.name %>
</title>
</head>
<body>
<h1>
<%= guild.name %>
</h1>
<% for (let channel of guild.channels.cache.values()) { %>
<% if (channel.type != "text") continue; %>
<p style="margin-top: 2px; margin-bottom: 2px">
<a href="/<%= guild.id %>/<%=channel.id%>/">#<%= channel.name %></a>
</p>
<% } %>
</body>
</html>
