<html>
<head>
<style>
pre {
    max-width: 100%;
    word-wrap: break-word;
}
.top-container {
    display: grid;
    grid-template-columns: 150px auto;
}
.avatar {
    grid-column-start: 1;
    grid-column-end: 2;
}
.info {
    grid-column-start: 2;
}
img, video, audio {
    max-width: calc(100vw - 50px);
}
</style>
</head>
<body>
<div class="top-container">
<div class="avatar">
<img src="https://cdn.discordapp.com/avatars/<%= msg.author.id %>/<%= msg.author.avatar%>.webp"></img>
</div>
<div class="info">
<h2>
@<%= msg.author.username %><i style="color:grey">#<%= msg.author.discriminator %></i>
</h2>
<p>
Posted in <a href="./">#<%= msg.channel.name %></a> at <%= new Date(msg.createdTimestamp).toLocaleString() %>
</p>
<p>
Pinned by <b><%= pinner.username %></b><i style="color:grey">#<%= pinner.discriminator %></i> at
<%= new Date(pin.createdAt).toLocaleString() %>
</p>
</div>
</div>
<hr>
<p>
<% if (formatted_message_content) { %>
<pre>
<%= formatted_message_content %>
</pre>
<% } else if (msg.content) { %>
<pre>
<%= msg.content %>
</pre>
<% } else { %>
<i>No content</i>
<% } %>
</p>
<% for (let attachment of msg.attachments.values()) { %>
    <hr>
    <div style="border-left: dashed gray 1px; margin-left: 10px; padding-left: 10px">
        <p>
        Attachment: <a href="<%= attachment.url %>"><%= attachment.url.substring(attachment.url.lastIndexOf("/") + 1) %></a></p>
        <% var ends = function (ext) { return attachment.url.endsWith("." + ext) }; %>
        <% if (ends("jpg") || ends("webp") || ends("png") || ends("gif")) { %>
            <img width="<%= attachment.width %>" src="<%= attachment.url %>"></img>
        <% } else if (ends("mkv") || ends("mp4") || ends("avi") || ends("webm")) { %>
            <video controls width="<%= attachment.width %>" src="<%= attachment.url %>"></video>
        <% } else if (ends("mp3") || ends("aac") || ends("wav") || ends("ogg")) { %>
            <audio controls width="<%= attachment.width %>" src="<%= attachment.url %>"></audio>
        <% } %>
    </div>
<% } %>
<hr>
<p>
<a href="https://discordapp.com/channels/<%= msg.channel.guild.id%>/<%= msg.channel.id %>/<%=msg.id%>" target="_blank">View this message in Discord</a>
</p>
<p>
<a href="<%= msg.id %>/saved">Message text when pinned</a>
</p>
<hr>
<p>
<a href="./">Back to channel</a>
</p>
</body>
</html>
