<html>
<head>
<title>
Pin Bot - Deleted Pin
</title>
<style>
pre {
    max-width: 100%;
    word-break: break-word;
    white-space: break-spaces;
}
</style>
</head>
<body>
<div class="top-container">
<div class="info">
<h2>
@<%= pin.author_name %>
</h2>
<p>
Posted in
<% if (channel) { %>
    <a href="./">#<%= channel.name %></a>.
<% } else { %>
    <i>a deleted channel.</i>
<% } %>
</p>
<p>
Pinned by <b><%= pin.pinner_name %></b> at
<%= new Date(pin.createdAt).toLocaleString() %>
</p>
</div>
</div>
<hr>
<p>
<% if (pin.content) { %>
<pre>
<%= pin.content %>
</pre>
<% } else { %>
<i>No content</i>
<% } %>
</p>
<hr>
<h3>Tags</h3>
<% for (let tag of tag_list) { %>
<p><%= tag.text %></p>
<% } %>
<hr>
<% if (msg_exists) { %>
<p>
The message you are viewing is still available on Discord. To view the message with up-to-date edits and attachments, click the following link.
</p>
<a href="../<%= pin.message %>">View current message text</a>
<% } else { %>
<p>
This message has been deleted from Discord. You are viewing the information that is still contained in the Pin Bot database, including original message text, original author and pinner nicknames, and the time of pinning. More recent revisions of the text as well as message attachments cannot be fetched.
<% } %>
</p>
<hr>
<a href="../">Back to channel</a>
</body>
</html>
